The TechBuds/2. NodeRed/nod red nodes[2104].txt
[{"id":"ee08cd8f.15bbc","type":"function","z":"a88cc722.5281a8","name":"","func":"global.set(\"Temp\",msg.d.payload.d.temp)\nglobal.set(\"Humd\",msg.d.payload.d.humd)\nglobal.set(\"Moist\",msg.d.payload.d.moist)\nglobal.set(\"dist\",msg.payload.d.distance)\nreturn msg;","outputs":1,"noerr":0,"x":438,"y":99,"wires":[["e8755309.a068c"]]},{"id":"e8755309.a068c","type":"debug","z":"a88cc722.5281a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":693,"y":162,"wires":[]},{"id":"a5b45d00.eada2","type":"http in","z":"a88cc722.5281a8","name":"","url":"/sm","method":"get","upload":false,"swaggerDoc":"","x":256,"y":357,"wires":[["8404481f.7421c8"]]},{"id":"1b7abaab.8a34c5","type":"http response","z":"a88cc722.5281a8","name":"","statusCode":"","headers":{},"x":636,"y":406,"wires":[]},{"id":"8404481f.7421c8","type":"function","z":"a88cc722.5281a8","name":"","func":"msg.payload= {\"Temp\":global.get(\"temp\"),\"Humid\":global.get(\"humd\"),\"moist\":global.get(\"Moist\"),\"dist\":global.get(\"dist\")}\nreturn msg;","outputs":1,"noerr":0,"x":489,"y":372,"wires":[["1b7abaab.8a34c5","cbf9b89a.ce4258"]]},{"id":"cbf9b89a.ce4258","type":"debug","z":"a88cc722.5281a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":738,"y":292,"wires":[]},{"id":"cbc46e1f.31792","type":"ibmiot in","z":"a88cc722.5281a8","authentication":"apiKey","apiKey":"c1e788d9.d4bb88","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456789","applicationId":"","deviceType":"iotlalit","eventType":"Data","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":193,"y":70,"wires":[["ee08cd8f.15bbc"]]},{"id":"c1e788d9.d4bb88","type":"ibmiot","z":"","name":"lalit","keepalive":"60","serverName":"gm69yw.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false}]
